* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #000;
}
body,
p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #D8D8D8;
  line-height: 1.2;
}

h1,
h1,
h3,
h4,
h5,
h6 {  
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1em;
}
h4 {
  font-size: 18px;
}
.title {
  font-size: 40px;
  text-align: center;
  color: #fff;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  list-style: none;
}

/* .logo {
  display: flex;
  align-items: center;
} */
/* .logo img {
  max-width: 50px;
} */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-system,
.section-partner {
  padding-top: 50px;
  padding-bottom: 90px;
}
/* Navigation */
.nav-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon-dropdown {
  display: none;
}
.main-nav{
  height: 78px;
}
.main-nav .header-fixed{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
}
.main-nav .navigation {
  display: flex;
}
.nav-mobile {
  display: none;
}
.main-nav .navigation li {
  display: inline-block;
}
.main-nav .navigation li a {
  padding: 30px 20px;
  text-decoration: none;
  display: block;
}
.main-nav .navigation li > a:hover,
.main-nav .navigation li > a.active{
  color:#fabc46;
}

.main-nav .is-child {
  position: relative;
}
.main-nav .navigation li.is-child > a span {
  display: inline-block;
  vertical-align: middle;
}
.icon-dropdown {
  width: 20px;
}
.main-nav .is-child > ul {
  padding-left: 0;
  background-color: #fff;
  display: none;
}
.main-nav .is-child > ul.dropdown {
  display: block;
}
.main-nav .is-child ul {
  position: absolute;
  width: 240px;
  right: -10px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow: hidden;
}
.main-nav .is-child ul li {
  display: block;
}
.main-nav .is-child ul li a:hover {
  background-color: #dedede;
}

/* .section-banner */

.section-banner {
  padding-left: 40px;
  padding-right: 40px;
}
.section-banner .banner-bg {
  background-image: url("assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 125px;
  width: 100%;
  padding-bottom: 290px;
  border-radius: 50px;
}

.section-banner .banner-wrap h1 {
  font-size: 68px;
  color: #fff;
  font-family: 'Poller One', cursive;
}
.section-banner .banner-wrap p {
  color: #fff;
  font-size: 36px;
  margin: 20px 0;
}

/* .section-about */
.section-about .about-wrap {
  margin-top: -185px;
  padding: 40px;
  background-color: rgba(53, 53, 53, 0.7);
  border-radius: 40px;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05), 0px 8px 16px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(40px);
}
.section-about .about-wrap .flex-row {
  align-items: unset;
}
.section-about .box-item {
  padding: 20px;
  padding: 0 24px 24px 24px;
}
.section-about .box-item .title{
  text-align: left;
}
.section-about .desc {
  margin-top: 40px;
  line-height: 24px;
}
/* .section-portfolio */
.section-portfolio{
  padding-top: 70px;
}
.section-portfolio .title{
  margin-bottom: 60px;
}
.section-portfolio .portfolio-box{
  width: 100%;
}
.section-portfolio .item{
  padding: 0 15px;
  margin-bottom: 30px;
  display: inline-block;
}
.section-portfolio .item a{
  display: block;
  background-color: #1a1a1a;
  border-radius: 15px;
  min-height: 72px;
  text-align: center;
  position: relative;
}
.section-portfolio .item img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* .section-info */
.section-info{
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-info .box-wrap{
  padding: 15px;
}
.section-info .box-insight, .section-info .box-news{
  padding: 48px;
  background-color: #1A1A1A;
  border-radius: 40px;
}
.section-info .title{
  margin-top: 0;
  text-align: left;
  margin-bottom: 40px;
}
.section-info .box-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.section-info .box-icon img {
  width: 100px;
  height: 100px;
  border-radius: 24px;
  overflow: hidden;
}

.section-info .box-title a{
  margin-bottom: 5px;
  line-height: 24px;
  color: #C3C3C3;
}
.section-info .box-title a:hover{
  color:#fabc46;
}
.section-info .box-content {
  margin-left: 15px;
}
.section-info .box-content .desc{
  margin: 0;
  color: #8B8B8B;
}
.section-info .view-more{
  text-align: center;
}
.section-info .view-more a {
  display: inline-block;
  padding: 15px;
  color: #1a1a1a;
  color:#fabc46;
}
/* .section-partner */
.section-partner {
  background-color: rgba(53, 53, 53, 0.6);
}
.section-partner .title {
  margin-bottom: 70px;
}
.section-partner .partner-logo {
  padding: 0 15px;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
}
.section-partner .partner-logo a {
  padding: 5px 20px;
  background-color: #1A1A1A ;
  display: block;
  min-height: 72px;
  border-radius: 15px;
}
.section-partner .partner-logo img {
  margin: 0 auto;
  padding-top: 6px;
}

/* Footer */
.footer {
  padding: 10px 0;
  background-color: #fabc46;
}

.coppy-right {
  color: #1a1a1a;
}
.footer-nav a,
.footer-social a {
  padding: 5px 10px;
  display: inline-block;
  color: #1a1a1a;
}
ul.slick-dots {
  bottom: -50px;
}
.slick-dots .slick-active button {
  width: 15px;
  background-color: #fabc46;
  height: 5px;
  border-radius: 5px;
  padding: 0;
}
.slick-dots .slick-active button::before {
  /* width: 30px;
  background-color: #1a1a1a; */
  content: "";
}

@media (max-width: 991px) {
  .title {
    font-size: 35px;
  }
  /* Mobile Navigation */
  .main-nav{
    height: 90px;
  }
  .nav-mobile {
    display: block;
  }
  .icon-dropdown {
    display: block;
    position: absolute;
    width: 20px;
    height: 38px;
    top: 0;
    line-height: 48px;
    right: 16px;
  }
  .nav-wrap {
    position: relative;
    padding: 20px 0;
  }
  .nav-wrap .navigation {
    padding-left: 0;
    position: absolute;
    display: block;
    width: 100%;
    max-width: 300px;
    height: 0;
    right: -10px;
    overflow: hidden;
    background-color: #1a1a1a;
    top: 60px;
    opacity: 0;
    transition: all 0.2s ease 0s, width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    z-index: 1;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 4px 64px rgb(0 0 0 / 5%), 0px 8px 16px rgb(0 0 0 / 5%);
  }
  .nav-wrap .navigation.show {
    height: auto;
    opacity: 1;
  }
  .nav-wrap .navigation li {
    display: block;
  }  
  .main-nav .navigation li a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .main-nav .is-child ul {
    position: static;
    width: auto;
    border-radius: 0;
    background-color: #efefef;
  }
  .main-nav .is-child ul li a {
    padding-left: 40px;
  }

  .flex-row {
    display: block;
  }
  /* .section-banner */
  .section-banner {
    padding: 0;
  }
  .section-banner .banner-wrap h1{
    font-size: 50px;
  }
  .section-banner .banner-wrap p{
    font-size: 30px;
  }
  .section-banner .banner-bg {
    border-radius: 0;
  }

  /* .section-feature */


  /* .section-system */

  /* .Footer */
  .coppy-right {
    text-align: center;
  }
  .footer-right {
    text-align: center;
  }
  .footer-nav,
  .footer-social {
    padding-left: 0;
  }
  .footer-social {
    margin-top: 10px;
  }
  .footer-nav li,
  .footer-social li {
    display: inline-block;
  }
}
@media (max-width: 680px) {
  .sys-box-right .sys-box-item {
    width: 100%;
    margin-bottom: 60px;
  }
  .become {
    text-align: left;
  }
  .apply .banner .icon-right {
    display: none;
  }
}
